body {
    background-color: #333;
    font-family: Gilroy-Regular, sans-serif;
    background-color: #f8f9fb;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* Font */
@font-face {
    font-family: 'Gilroy';
    src: url('utils/font/Gilroy/Gilroy-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    /*400*/
    src: url('utils/font/Gilroy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    /*500*/
    src: url('utils/font/Gilroy/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    /*600*/
    src: url('utils/font/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Bold';
    /*700*/
    src: url('utils/font/Gilroy/Gilroy-Bold.ttf') format('truetype');
}

/* Used to suppress error:
ResizeObserver - loop limit exceeded */
video::-webkit-media-controls-timeline {
    align-self: center;
    width: calc(100% - 64px);
}

.video-container {
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    overflow: hidden;
    border: 2px dashed #0071C5;
    background-color: #0070c50d;
    display: flex;
    align-items: center;
    justify-content: end;
}

.video-container video {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.button:active {
    background: rgba(0, 0, 0, 0.2);
}


/* Styles for controlls */
#command-list li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 12px 0;
}

.key-display {
    min-height: 1.5rem;
    min-width: 1.5rem;
    font-size: 1.1rem;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: start;
    border-radius: 0.2rem;
    padding: 0.5rem;
    padding-left: 0.25rem;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.825) 0%, rgba(0, 0, 0, 0.65) 100%);
    transition: all .1s ease;
    color: white;
    box-shadow: 2px 3px 0 4px rgba(0, 0, 0, 0.8);
    user-select: none;
}

.key-pressed p {
    font-weight: bold;
}

.key-pressed .key-display {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0 3px rgba(0, 0, 0, 0.795);
}

.space-symbol {
    min-width: 25px;
    height: 1px;
    background: white;
    border-radius: 1rem;
    margin: 0 5rem;
    margin-top: 0.2rem;
}


.google-sign-in-button {
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.google-sign-in-button:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-sign-in-button:active {
    background-color: #eeeeee;
}

.google-sign-in-button:active {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.logout {
    margin-left: 15px;
    margin-top: 15px;
}

.video-container {
    position: relative;
}

.logout-wrapper {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: #f8f9fb;
    border: solid 1px black;
    border-radius: 10px;
    display: none;
}

.logout-message {
    margin-top: 20px; /* Adjust the margin value as needed */
}

.logout-message p {
    margin-bottom: 15px;
}

.logout-buttons {
    margin: 3.5rem 15px 15px 8rem;
    gap: 2rem;
}

.logout-buttons button {
    width: 100px;
    height: 40px;
    border: 1px solid #0071C5;
    border-radius: 5px;
}

.logout-buttons :hover {
    background-color: #0071C5;
}

.plan-expiration-model {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 400px;
    height: 250px;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    border: solid 1px #0071C5;
    border-radius: 10px;
    display: none;
}

.expire {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
}

.expire-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.expire-text {
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.expiration-description{
    font-size: 13px;
}

.subscribe-button{
    cursor: pointer;
    width: 90%;
    height: 30px;
    border: none;
    color: #FFFFFF;
    border-radius: 15px;
    background-color: #0071C5;
}

#command-container {
    transition: max-height 0.3s ease-out;
    overflow: auto;
    max-height: 80vh;
}

/* Add styles for the buttons */
#toggle-map, #toggle-missions, #toggle-controls {
    background-color: #0071C5; /* Button background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding for better size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
}

#toggle-map:hover, #toggle-missions:hover, #toggle-controls:hover {
    background-color: #005f99; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

#command-list {
    max-height: 100%;
    overflow-y: auto;
}

/* Styles for the mission panel */
#mission-panel {
    width: 400px; /* Match the map's width */
    height: 100%; /* Match the map's height */
    background-color: #333; /* Dark background for the panel */
    border: 1px solid #444; /* Darker border color */
    padding: 20px; /* Padding for spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    color: #fff; /* White text color */
}

/* Style for the new mission button */
#new-mission-btn {
    background-color: #0071C5; /* Button background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding for better size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
}

#new-mission-btn:hover {
    background-color: #005f99; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Style for mission list items */
#mission-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    list-style-type: none; /* Remove bullet points */
}

#mission-list li {
    display: flex;
    justify-content: space-between; /* Space between text and buttons */
    align-items: center; /* Center items vertically */
    width: 90%; /* Set width to 90% of the parent to allow centering */
    margin: 10px 0; /* Margin for spacing */
    padding: 10px; /* Padding for better size */
    background-color: #444; /* Darker background */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    color: #fff; /* White text color */
}

/* Style for mission buttons */
#mission-list button {
    background-color: #ff4d4d; /* Red for delete button */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px; /* Padding for better size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
}

#mission-list button:hover {
    background-color: #cc0000; /* Darker red on hover */
}

#mission-list button.go-button {
    background-color: #0071C5; /* Blue for go button */
}

#mission-list button.go-button:hover {
    background-color: #005f99; /* Darker blue on hover */
}

/* Styles for the search input */
#search-input {
    width: 90%; /* Full width */
    padding: 10px; /* Padding for better size */
    border: 1px solid #555; /* Darker border color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    font-size: 16px; /* Font size */
    margin-top: 10px; /* Margin for spacing */
    margin-bottom: 10px; /* Add space below the input */
    background-color: #444; /* Darker background */
    color: #fff; /* White text color */
}

/* Style for the search input on focus */
#search-input:focus {
    border-color: #005f99; /* Darker border on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 97, 153, 0.5); /* Shadow effect on focus */
}

#suggestions-container {
    display: none; /* Initially hidden */
    width: 250px; /* Fixed width */
    max-height: 200px; /* Fixed height */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    background: #444; /* Darker background */
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px;
    position: absolute; /* Position it absolutely for better control */
    z-index: 1000; /* Ensure it appears above other elements */
    color: #fff; /* White text color */
}

#suggestions-container div:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
    cursor: pointer; /* Change cursor to pointer */
}

#map {
    width: 400px; 
    height: 1000px;
}